footer {
    height: $height-footer;
    background-color: $color-body-footer-header;
.enlaces-rapidos {
    list-style: none;
    padding: 0;
}
.contactos {
    display: flex;
    gap: 10px;
}
.social-icons a {
    margin-right: 10px;
}
.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}
.social-icons img:hover {
    transform: scale(1.4);
    
}
.footer-end {
    text-align: center !important;
    padding: 5px !important;
    background-color: $color-black !important;
    color:$color-white !important;
    width: $witth-porcen !important;
    height: $height-porcen - 50 !important;

}
}
    