.fs-1 {
    color: $color-titulo-pal !important;
    
}
.fs-4 {
    color: $color-sub-titulo;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    text-align: center !important;
    margin-bottom: 20px !important; 
}