$color-body-footer-header: rgb(230, 230, 230);
$color-main: #d4f5ee;
$color-titulo-pal: #323131f3;
$color-sub-titulo:#323131f3;
$color-buttom: #092943;
$color-font-buttom:#FFDDC7; 
$color-buttom-hover:#278671;
$height-body: 100vh;
$height-main: 74vh;
$height-header: 10vh;
$height-footer: 16vh;
$height-porcen: 100%;
$witth-porcen:100%;
$color-black:#222;
$color-white: #ffffff;
$height-px: 100px;


